@import "tailwindcss";

@theme {
  --color-brand-yellow: #FFDE59;
  --color-brand-black: #000000;
  --color-brand-gray: #f5f5f5;
  --font-rubik: var(--font-rubik);
  --font-inter: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}
